<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">    
  <meta name="viewport" content="width=1024" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>
    {{ presentation }}
  </title>

  <meta name="description" content="{{ description }}" />
  <meta name="author" content="{{ author }}" />

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Special+Elite|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/pygments.css" />

  <link rel="shortcut icon" href="favicon.png" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body class="impress-not-supported">

<div class="fallback-message">
  <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
  <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">
  {% for slide in slides %}
  <div 
  id="{{ slide.id }}" 
  class="step {{ slide.animation }}" 
  data-x="{{ slide.x }}" 
  data-y="{{ slide.y }}"
  data-z="{{ slide.z }}"
  data-rotate="{{ rotate_z }}"
  data-rotate-x="{{ rotate_x }}"
  data-rotate-y="{{ rotate_y }}"
  data-rotate-z="{{ rotate_z }}"
  >
  {{ slide.content|safe }}
  </div>
  {% endfor %}
</div>

<script type="text/javascript" src="{{ impress }}"></script>
<script type="text/javascript">
  impress().init();
</script>
</body>
</html>
