<!doctype html>
<head>
  <title>
    {{ presentation }}
  </title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Special+Elite|Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="{{ impress }}"></script>
  <style>
    body, p {
      font-family: 'Droid Sans', sans-serif;
    }
    h1, h2, h3 {
      font-family: 'Special Elite', cursive;
    }
    code, pre {
      font-family: 'Inconsolata', ;
    }
  </style>
</head>

<body>
Hello World {{ author }}
</body>
